body{
    background: #eceef1;
    color: #4C4C4C;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
header{
    width: 100%;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.no-line{
    text-decoration: none !important;
}
div>a{
    color: #0077C5;
}
.button{
    background: #0077c5;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    width: 100%;
}
.button>i{
    margin-right: 5px;
}
header .user-options{
    display: flex;
    padding: 20px;
    position: absolute;
    right: 30px;
    top: 0;
    width: 16%;
}
.user-options .text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    flex-basis: 70%;
}
.user-options span{
    color: #605b63;
    padding-bottom: 5px;
}
.user-options .button{    
    flex-basis: 40%;
    font-size: 13.5px;
    padding: 0.5em 0;    
}
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 9fr 1fr;
    height: 80vh;
    width: 100vw;
}
form{
    background: #ffffff;
    grid-column-start: 3;
    padding: 2em;
}
form>button{
    font-size: 1.125em;
    font-weight: 400;
    height: 44px;
    margin-top: 30px;
    padding: 6px 12px;
}
form>span{
    color: #444;
    font-size: 10px;
    padding: 5px 0;
}
form .head{
    padding-bottom: 20px;
    text-align: center;
}
h1{
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1em;
}
.head>span{
    display: block;
    font-size: 14px;
    font-weight: 300;
}
.head>a{
    display: inherit;
    font-size: 12px;
    font-weight: 300;
}
label{
    display: block;
    padding-bottom: 6px;
}
input:not([type="submit"]){
    border: 1px solid #C1C5C8;
    border-radius: 3px;
    color: #000;
    font-size: 16.8px;    
    height: 34px;
    padding: 0 2%;
    width: 96%;
}
